<div class="text-center">
    <h1 class="display-4">About this application</h1>
    <br />
    <p>This application is developed for practice asp application coding.</p>
    <p>This ASP web application use MVC and Azure AD Login.</p>
</div>